* {
    font-size: 1rem;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

:root {
    --bunWidth: 1.5rem;
    --touchButton: .4s;
}

nav > ul{
    display: none !important;
    flex-direction: column;
}
nav .flex > li{
    font-size: 1.1rem;
}
/* hamburger bun */
.burger-icon {
    display: block;
    position: absolute;
    top: 1.8%;
    right: 1.8%;
    width: var(--bunWidth);
}

.burger div {
    height: 2px;
    background-color: white;
    margin: calc(var(--bunWidth) / 4) 0;
    border-radius: 20px;
    transition: var(--touchButton);
}

.topBun {
    width: 50%;
}

.bottomBun {
    margin-left: 50% !important;
    width: 50%;
}

/* nav for mobile */
.navMobile li a {
    padding: 10px;
    display: block;
}

.products:hover .product{
    display: block;
}

.product{
    text-align: center;
    position: relative;
}

.fa-magnifying-glass {
    display: none;
}

.slogan h1 {
    font-size: 1.2rem;
}

.innerSection > a  {
    width: 50%;
    height: auto;
}

.innerSection  a img {
    width: 100%;
    margin: 0;
}

.moreImages {
    top: 10%;
}

.moreImage {
    width: 33%;
}

.description h2, .description h3 {
    font-size: 1.5rem;
}

.sponsors.description {
    margin-bottom: 0.7rem;
}

.sponsors div img {
    width: 50%;
}

/*add jQ*/
.mobile{
    z-index: 100;
    transform: scale(1); 
    opacity: 1;
}

.open {
    display: block !important;
    animation: downSlide 1s ease-out ;
}

.arrowRotate {
    transform: scaleY(-1);
}

/* .touched1 .topBun {
    transition: calc(var(--touchButton) / 5);
    transform: translate(0,0) rotate(35deg);
}

.touched1 .bottomBun {
    transition: calc(var(--touchButton) / 5);
    transform: translate(0,0) rotate(35deg); 
}

.touched1 .patty {
    transition: calc(var(--touchButton) / 5);
    transform: translate(0,0) rotate(10deg);
} */

.touched2 .topBun {
    transform: translate(11%,180%) rotate(-135deg);
}

.touched2 .bottomBun {
    transform: translate(-11%,-180%) rotate(-135deg); 
}

.touched2 .patty {
    transform: rotate(-45deg);
}
@keyframes downSlide {
    0% {
        opacity: 0;
        top: 10%;
    }
    90% {
        opacity: 1;
    }
}

@keyframes zoomNav {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        top: 20%;
        right: 25%;
        left: 25%;
        transform: scale(1); 
        opacity: 1;
    }
}

@keyframes rollTopBun {
        0% {
            transform: translate(0,0) rotate(0deg);
        }
        10% {
            transform: translate(0,0) rotate(35deg);
        }
        100% {
            transform: translate(11%,180%) rotate(-135deg);
        }
}

@keyframes rollBottomBun {
    0% {
        transform: translate(0,0) rotate(0deg);
    }
    10% {
        transform: translate(0,0) rotate(35deg);
    }
    to {
        transform: translate(-11%,-180%) rotate(-135deg);
    }
}

@keyframes rollPatty {
    from {
        transform: translate(0,0) rotate(0);
    }
    10% {
        transform: translate(0,0) rotate(10deg);
    }
    to {
        transform: rotate(-45deg);
    }
}
/*https://codepen.io/nikkk-me/pen/LYYWexL?editors=1100
 make subnav appear one by one automatically */
